<div class="modal fade  bs-example-modal-lg" id="admin_set_candidates_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title title">设置candidate</h4>
            </div>
            <div class="modal-body" id="admin_set_candidates_modal_content">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="form-label">选择candidate</label>
                        <select class="js-example-responsive form-control" 
                                multiple="multiple" id="set_candidate_hosts"
                                name="set_candidate_hosts"></select>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="admin_set_candidate()">保存</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#admin_set_candidates_modal").on("hide.bs.modal", function () {
        // 清空
        $("#set_candidate_hosts").val("");
    });
</script>