<div class="modal fade  bs-example-modal-lg" id="edit_config_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title edit_config_modal_title">更新配置</h4>
            </div>
            <div class="modal-body" id="edit_config_modal_content">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="form-label">关键字缩写</label>
                        <input type="text"
                               class="form-control edit_config_keyword"
                               name="edit_config_keyword"
                               placeholder="关键字缩写">
                    </div>
                    <div class="form-group">
                        <label class="form-label">关键字备注</label>
                        <input type="text"
                               class="form-control edit_config_mark"
                               name="edit_config_mark"
                               placeholder="关键字备注">
                    </div>
                    <div class="form-group">
                        <label class="form-label">wave dns</label>
                        <input type="text"
                               class="form-control edit_config_dns"
                               name="edit_config_dns"
                               placeholder="wave 集群dns">
                    </div>
                    <div class="form-group">
                        <label class="form-label">zk地址</label>
                        <input type="text"
                               class="form-control edit_config_zk"
                               name="edit_config_zk"
                               placeholder="zookeeper 地址">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Zk根路径</label>
                        <input type="text"
                               class="form-control edit_config_zk_path"
                               name="edit_config_zk_path"
                               placeholder="zk根路径 监听器监听的根目录{用于监听增删改节点信息}">
                    </div>
                    <div class="form-group">
                        <label class="form-label">从库ServerId</label>
                        <input type="text"
                               class="form-control edit_config_slave_id"
                               name="edit_config_slave_id"
                               placeholder="MySQL dump 从库server id">
                    </div>
                    <div class="form-group">
                        <label class="form-label">从库UUID</label>
                        <input type="text"
                               class="form-control edit_config_slave_uuid"
                               name="edit_config_slave_uuid"
                               placeholder="从库UUID">
                    </div>
                    <div class="form-group">
                        <label class="form-label">dbs api地址前缀</label>
                        <input type="text"
                               class="form-control edit_config_dbsurl"
                               name="edit_config_dbsurl"
                               placeholder="dbs api地址前缀">
                    </div>
                    <div class="form-group">
                        <label class="form-label">dbs http token</label>
                        <input type="text"
                               class="form-control edit_config_dbstoken"
                               name="edit_config_dbstoken"
                               placeholder="dbs http token">
                    </div>
                    <div class="form-group">
                        <label class="form-label">mq 生产者地址</label>
                        <input type="text"
                               class="form-control edit_config_mqaddr"
                               name="edit_config_mqaddr"
                               placeholder="mq 生产者地址">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Dump服务集群IP</label>
                        <textarea class="form-control edit_config_server_ips" rows="3" name="edit_config_server_ips"
                                  placeholder="格式： ip 多条记录回车换行..."></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="edit_config()">保存</button>
            </div>
        </div>
    </div>
</div>

<script>

    function init_edit_config_modal(row) {
        $(".edit_config_keyword").val(row.keyword);
        $(".edit_config_mark").val(row.mark);
        $(".edit_config_dns").val(row.dns);
        $(".edit_config_zk").val(row.zk);
        $(".edit_config_zk_path").val(row.path);
        $(".edit_config_slave_id").val(row.slaveid);
        $(".edit_config_slave_uuid").val(row.slaveuuid);
        $(".edit_config_dbsurl").val(row.dbsurl);
        $(".edit_config_dbstoken").val(row.dbstoken);
        $(".edit_config_mqaddr").val(row.mqaddr);
        $(".edit_config_server_ips").val(row.waves.join("\n"));
    }

    $("#edit_config_modal").on("hide.bs.modal", function () {
        // 清空
        $(".edit_config_keyword").val("");
        $(".edit_config_mark").val("");
        $(".edit_config_dns").val("");
        $(".edit_config_zk").val("");
        $(".edit_config_zk_path").val("");
        $(".edit_config_slave_id").val("");
        $(".edit_config_slave_uuid").val("");
        $(".edit_config_dbsurl").val("");
        $(".edit_config_dbstoken").val("");
        $(".edit_config_mqaddr").val("");
        $(".edit_config_server_ips").val("");
    });
</script>