<header class="main-header">
    <!-- Logo -->
    <a href="/index" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!-- <span class="logo-mini"><b>BinLake</b></span> -->
         <span class="logo-mini"><img src="/static/images/logo1.png"></span>
        <!-- logo for regular state and mobile devices -->

       <!--  <span class="logo-lg"><img src="/static/plugins/AdminLTE/img/logo2.png" width="35px">&nbsp;<b>BinLake</b></span> -->
        <span class="logo-lg"><img src="/static/images/logo.png"></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" style="margin-top: 10px;">
            <span class="sr-only">切换导航</span>
        </a>


        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="http://cf.jd.com/pages/viewpage.action?pageId=79901933" target="_blank">文档说明</a>
                </li>
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       <!--  <img src="/static/plugins/AdminLTE/img/user.jpg" class="user-image" alt="User Image"> -->
                        <img src="/static/images/header-icon3.png" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{.UserInfo.User}}</span>
                    </a>
                    <ul class="dropdown-menu" style="display: none;">
                        <!-- User image -->
                        <li>
                            <a href="#" onclick="logout()">退出</a>
                        </li>
                        <!-- <li class="user-header">
                            <img src="/static/plugins/AdminLTE/img/user.jpg" class="img-circle" alt="User Image">
                            <p>
                                {{.UserInfo.User}}
                            </p>
                        </li>
                        Menu Body
                        <li class="user-body">
                            <div class="row">
                            </div>
                            /.row
                        </li>
                        Menu Footer
                        <li class="user-footer">
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat" onclick="logout()">退出</a>
                            </div>
                        </li> -->
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button  系统控制暂时先注释不用
                <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
                -->
            </ul>
        </div>
    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- <div class="user-panel">
            <div class="pull-left image">
                <img src="/static/plugins/AdminLTE/img/user.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{.UserInfo.User}}</p>
            </div>
        </div> -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <!-- <li class="header">主菜单</li> -->
            <li class="active treeview">
                <a href="/group/index">
                    <i class="fa fa-bookmark-o"></i> <span>分组管理</span>
                </a>
            </li>

            <li class="active treeview">
                <a href="/filter/index">
                    <i class="fa fa-filter"></i> <span>过滤器管理</span>
                </a>
            </li>

            <li class="active treeview">
                <a href="/mq/index">
                    <i class="fa fa-files-o"></i> <span>MQ管理</span>
                </a>
            </li>

            <li class="active treeview">
                <a href="/instance/index">
                    <i class="fa fa-laptop"></i> <span>实例管理</span>
                </a>
            </li>

            <li class="active treeview">
                <a href="/relation/index">
                    <i class="fa fa-link"></i> <span>关系管理</span>
                </a>
            </li>

            <li class="active treeview">
                <a href="/flow/index">
                    <i class="fa fa-bicycle"></i> <span>流程管理</span>
                </a>
            </li>

            <li class="active treeview">
                <a href="/monitor/index">
                    <i class="fa fa-camera"></i>
                    <span>监控管理</span>
                </a>
            </li>
            {{ if .UserInfo.IsSuperAdmin }}
            <li class="active treeview">
                <a href="/admin/index">
                    <i class="glyphicon glyphicon-user"></i> <span>操作管理</span>
                </a>
            </li>
            <li class="active treeview">
                <a href="/config/index">
                    <i class="fa fa-info-circle"></i> <span>配置管理</span>
                </a>
            </li>
            {{end}}
            <!--/.管理员导航-->
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<script>
    //logout 退出
    function logout() {
//        location.href = "{{.SSOURL}}logout?ReturnUrl=" + location.href;
        location.href = "/logout?rd=" + Math.random().toString(16);

    }
    $(function(){
        /*$(".user").hover(function(){
            $(".dropdown-menu").css("display","block");
        },function(){
            $(".dropdown-menu").css("display","none");
        })*/
        $(".user").mouseover(function() {
            $(".dropdown-menu").css("display","block");
        });
        $(".user").mouseout(function() {
            $(".dropdown-menu").css("display","none");
        });
    })
</script>
